
.contact-section {
  margin-top: 30px;
  color: rgb(246, 246, 246);
}

  .contact-section h1 {
    padding: 60px 0px;
}

  .redes {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }
  
  .icon {
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
    width: 60px;
    height: 60px;
  }

  .mail{
    margin-top: 80px;
    font-size: 0.9em;
  }

  .dog{
    width: 20%;
    position: relative;
    z-index: 1;
    right: 20px;
    top: 70px;
  }