.navbar {
  margin-top: 30px !important;
  height: 100px;
  z-index: 4;
  font-family: 'Comfortaa', cursive;
}

.nav-link {
  color: #ffffff !important;
  background-image: linear-gradient(rgb(217, 217, 217), rgb(0, 31, 133));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  margin: 5px;
}

.nav-link:hover {
  background-size: 100% 2px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler {
  background-color: rgba(240, 248, 255, 0.73);
}
