/* footer font */
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&family=Fira+Sans:wght@600&display=swap");

/* single day (LOGO font) */
@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");
/* font-family: "Single Day", cursive; */

/* text font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
/* font-family: 'Poppins', sans-serif; */
html {
  user-select: none;
}
a:link {
  text-decoration: none;
  color: #163057 !important;
}

.border {
  border: solid 1px white;
}
body {
  background: rgba(186, 193, 255, 1);
  scroll-behavior: smooth;
  scroll-padding-top: 300px;
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}
.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrar {
  text-align: center;
}
.logo {
  width: 130px;
  margin-right: 30px;
}

.header-text {
  letter-spacing: 2px;
  font-family: "Fira Sans", sans-serif;
  word-wrap: break-word;
}
.name span {
  margin-left: 10px;
  font-size: 5rem;
  font-family: "Single Day", cursive;
}
.header-text h1 {
  font-size: 3.5rem;
  color: rgb(0, 0, 0);
}
.header-text h2 {
  color: rgb(33, 33, 33);
  font-size: 2.8rem;
}
.header-text p {
  padding-top: 10px;
  color: rgb(68, 68, 68);
  letter-spacing: 1px;
}
.header {
  margin-top: 50px;
}

/* ABOUT */
.about-container {
  margin-top: 200px;
  height: 30%;
}

.about-text {
  margin-top: 30px;
  word-spacing: 1px;
  line-height: 1.7rem;
}
.technologies {
  margin-top: 80px;
  margin-left: 10px;
}
.technologies img {
  border-radius: 10px;
  box-shadow: 3px 5px 20px black;
}

.about-container h1,
h3 {
  font-family: "Poppins", sans-serif;
}
.avatar {
  width: 20rem;
  border-radius: 50%;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

.tecnologies-images img {
  width: 40px;
  height: 40px;
}

/* PORTFOLIO */

.portfolio {
  margin-top: 200px;
}

.caca {
  background-color: aliceblue;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 2px 24px rgba(118, 118, 118, 0.5);
}
.portfolio .row {
  margin-top: 60px;
  margin-bottom: 100px;
}

.portfolio img {
  width: 550px;
}

.portfolio h1 {
  color: rgb(0, 0, 0);
  margin: 80px 0px;
}
.portfolio p {
  margin-top: 30px;
  color: rgb(60, 60, 60);
}

.proyect-tecnologies {
  color: #163057;
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 30px 0px 30px;
  overflow: hidden;
  list-style: none;
}

.single-proyect {
  padding-bottom: 15px;
}

.proyect-links {
  color: #333333;
  display: grid;
  grid-template-columns: repeat(3, minmax(40px, 70px));
  gap: 0px 10px;
  padding: 0px;
  margin: 30px 0px 30px;
  overflow: hidden;
  list-style: none;
}

.proyect-links a {
  width: 100px;
  color: #333333 !important;
}

/* CONTACT SECTION */
.contact-section {
  background-color: #0d1520;
  color: rgb(211, 211, 211);
  font-family: "Open Sans", sans-serif;
}
.contact-section h1 {
  padding-top: 60px;
}

.mail {
  width: 120px;
  background-color: rgb(233, 233, 233);
  border-radius: 25px;
  padding: 10px;
}

.mail-conatiner {
  margin: 50px;
}

.get-cv-button {
  width: 120px;
  height: 50px;
  color: #163057;
  background-color: rgba(208, 208, 208, 1);
  border-radius: 25px;
  border: none;
}

.redes {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.icon {
  border-radius: 10px;
  padding: 2px;
  margin: 5px;
  width: 60px;
  height: 60px;
}
/* BOOTSTRAP MODIFICATIONS */
.navbar {
  margin-top: 30px !important;
  height: 100px;
}

.nav-link {
  color: #333333 !important;
  margin-left: 130px;
  background-image: linear-gradient(rgb(31, 31, 31), rgb(0, 0, 0));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

.nav-link:hover {
  background-size: 100% 2px;
  color: rgb(55, 55, 55) !important;
}

.navbar-toggler-icon {
  color: rgb(255, 12, 12) !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.collapse {
  width: 10px !important;
}

/* MEDIAQUERIES */
@media only screen and (max-width: 575px) {
  .nav-link {
    margin: 20px;
    color: aliceblue !important;
  }

  .navbar-brand {
    margin: 0;
  }

  .background-collapse {
    background: rgb(0 0 0 / 5%);
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 37%);
    backdrop-filter: blur(7px);
    border-radius: 10px;
  }

  .header-text h1 {
    font-size: 2.3rem;
  }

  .header-text h2 {
    font-size: 2rem;
  }

  .header-text p {
    font-size: 0.8rem;
  }

  .logo {
    margin-right: 130px;
  }
  .about-container h2 {
    margin-left: 0px;
  }
  .avatar {
    background-color: rgba(202, 138, 41, 0);
    border-radius: 50%;
    margin-top: 100px;
  }
  .portfolio img {
    width: 370px;
  }

  .name span {
    margin-left: 10px;
    font-size: 3rem;
  }
}

/* FOOTER */

.footer-text {
  color: rgba(240, 248, 255, 0.679);
  padding-top: 150px;
  padding-bottom: 20px;
}
.footer {
  font-family: "Fira Mono", monospace;
  font-size: 0.7rem;
  background-color: #0d1520;
}

.box {
  background-color: #0d1520;
  width: 30px;
  height: 30px;
}

.svg {
  margin-top: 150px;
}
